mixin social(Classname)
  .social(class= Classname)
    ul.social__list
      li.social__item
        a.social__link(href="#" target="_blank")
          svg.social__icon
            use(xlink:href="img/svg/sprite.svg#vk")

      li.social__item
        a.social__link(href="#" target="_blank")
          svg.social__icon
            use(xlink:href="img/svg/sprite.svg#facebook")

      li.social__item
        a.social__link(href="#" target="_blank")
          svg.social__icon
            use(xlink:href="img/svg/sprite.svg#odnoklassniki")

      li.social__item
        a.social__link(href="#" target="_blank")
          svg.social__icon
            use(xlink:href="img/svg/sprite.svg#instagram")