mixin article-card(className)
  .article-card(class= className)
    a.article-card__img-link(href="#")
      img.article-card__img(src="img/start-card.jpg")
    a.article-card__category(href="#") Выбор экспертов
    a.article-card__title(href="#") Обзор нашего экспетра Элеоноры Рубинштейн-Загорской