.news {
  padding-top: 50px;
  padding-bottom: 110px;
  background-color: var(--light-gray);

  @include media('<desktop-sm') {
    padding-top: 43px;
    padding-bottom: 56px;
  }

  @include media('<tablet') {
    padding-top: 36px;
    padding-bottom: 30px;
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__section-line {
    margin-bottom: 70px;

    @include media('<tablet') {
      margin-bottom: 90px;
    }
  }

  &__slider-buttons {
    position: absolute;
    top: 0;
    right: 20px;

    @include media('<desktop-sm') {
      top: -10px;
    }

    @include media('<tablet') {
      top: 60px;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.swiper-container-news {
  overflow: hidden;
}
