.account
  button.account__btn.header__action-item.js-account-opener
    span.account__icon
    span.account__name Александрелло
  .account__drop.js-account-drop
    ul.account__menu-group
      li.account__menu-item
        a.account__menu-link(href="#") Мой профиль
      li.account__menu-item
        a.account__menu-link(href="#") Мои заказы
      li.account__menu-item
        a.account__menu-link(href="#") Сообщения
    ul.account__menu-group
      li.account__menu-item
        a.account__menu-link(href="#") Настройки профиля
      li.account__menu-item
        a.account__menu-link(href="#") Мои работы
    button.account__btn-close Выйти