.heart-icon {
  width: 22px;
  height: 20px;
  fill: none;
  transition: fill var(--transition) ease, stroke var(--transition) ease;

  &--theme-light {
    stroke: var(--black);
  }

  &--theme-dark {
    stroke: var(--white);
  }
}
