mixin sort(ClassName)
  .sort(class= ClassName)
    label.sort__label
    select.sort__select#choices-sort
      option(value="По дате добавления")
      option(value="По цене")
      option(value="По популярности")