mixin sort(ClassName)
  .sort(class= ClassName)
    label.sort__label Сортировать по
    select.sort__select#choices-sort
      option(value="Дате добавления")
      option(value="Цене")
      option(value="Популярности")