section.hero
  .swiper-container-hero.hero__slider
    .swiper-wrapper

      .swiper-slide.hero__slide(style='background-image: url(img/hero-slide-1.jpg);')
        .container
          .hero__body
            p.hero__subtitle Новое на этой неделе
            .hero__title Лучшие фигуративные произведения
            p.hero__text Новые оригинальные работы, выбранные нашим эспертом
            a.hero__btn(href="#") Открыть

      .swiper-slide.hero__slide(style='background-image: url(img/hero-slide-2.jpg);')
        .container
          .hero__body
            p.hero__subtitle Новое на этой неделе
            .hero__title Лучшие фигуративные произведения
            p.hero__text Новые оригинальные работы, выбранные нашим эспертом
            a.hero__btn(href="#") Открыть

      .swiper-slide.hero__slide(style='background-image: url(img/hero-slide-1.jpg);')
        .container
          .hero__body
            p.hero__subtitle Новое на этой неделе
            .hero__title Лучшие фигуративные произведения
            p.hero__text Новые оригинальные работы, выбранные нашим эспертом
            a.hero__btn(href="#") Открыть
    .swiper-pagination