mixin masonry-fixed-card(ClassName)
  .masonry-fixed-card(class= ClassName)
    .masonry-fixed-card__inner
      img.masonry-fixed-card__img(src="img/masonry-card-fixed-1.png")
      h3.masonry-fixed-card__title Умный выбор по параметрам с примерами
      a.masonry-fixed-card__btn Подобрать