.style-review {
  padding-top: 50px;
  padding-bottom: 44px;
  background-color: #f8f8f9;

  &__wrapper {
    position: relative;
  }

  &__title {
    margin-bottom: 9px;
  }

  &__slide {
    display: flex;
    height: 100%;
    flex-direction: column;

    &:nth-child(even) {
      flex-direction: column-reverse;
    }
  }

  &__section-line {
    margin-bottom: 50px;
  }

  &__slide-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 42px;
  }

  &__slide-col {
    width: 50%;

    &:not(:last-child) {
      margin-right: 42px;
    }
  }

  &__slider-btn {
    position: absolute;
    z-index: 5;
    top: 0;

    &.slider-btn--left {
      right: 75px;
    }

    &.slider-btn--right {
      right: 15px;
    }
  }
}

.swiper-container-style-review {
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  z-index: 5;
  top: auto;
  bottom: 0;
  width: 56px;
  height: 56px;
  background-color: var(--white);
  border-radius: 50%;
  transition: background-color var(--transition) ease;

  &.swiper-button-disabled {
    opacity: 0.3;
  }

  &:hover {
    background-color: #4a4f52;

    .swiper-button-next__icon {
      fill: var(--white);
    }

    .swiper-button-prev__icon {
      fill: var(--white);
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    fill: var(--black);
    transition: fill var(--transition) ease;
  }

  &::after {
    display: none;
  }
}

.swiper-button-prev {
  right: 75px;
  left: auto;
}

.swiper-button-next {
  right: 15px;
}
