section.style-review
  .container
    h2.style-review__title.title-lg Обзор стилей
  .section-line
  .container
    .style-review__slider.swiper-container-style-review
      .swiper-wrapper
        .swiper-slide.style-review__slide
          .style-review__slide-row
            include ../style-card/style-card
            +style-card('style-review__style-card', {
            },{
              img: 'style-card-1.jpg',
              title: 'Современное НЮ',
              category: 'Новое изобразительное искусство'
            })
          .style-review__slide-row
            .style-review__slide-col
              +style-card('style-review__style-card', {
              },{
                img: 'style-card-2.jpg',
                title: 'Вдохновение Уорхолом',
                category: 'Новый Поп Арт'
              })
            .style-review__slide-col
              +style-card('style-review__style-card', {
              },{
                img: 'style-card-3.jpg',
                title: 'Вдохновение Гансом Хофманном',
                category: 'Новый абстрактный экспрессионизм'
              })
        .swiper-slide.style-review__slide
          .style-review__slide-row
            include ../style-card/style-card
            +style-card('style-review__style-card', {
            },{
              img: 'style-card-4.jpg',
              title: 'Современное НЮ',
              category: 'Новое изобразительное искусство'
            })
          .style-review__slide-row
            .style-review__slide-col
              +style-card('style-review__style-card', {
              },{
                img: 'style-card-5.jpg',
                title: 'Вдохновение Уорхолом',
                category: 'Новый Поп Арт'
              })
            .style-review__slide-col
              +style-card('style-review__style-card', {
              },{
                img: 'style-card-6.jpg',
                title: 'Вдохновение Гансом Хофманном',
                category: 'Новый абстрактный экспрессионизм'
              })
        .swiper-slide.style-review__slide
          .style-review__slide-row
            include ../style-card/style-card
            +style-card('style-review__style-card', {
            },{
              img: 'style-card-1.jpg',
              title: 'Современное НЮ',
              category: 'Новое изобразительное искусство'
            })
          .style-review__slide-row
            .style-review__slide-col
              +style-card('style-review__style-card', {
              },{
                img: 'style-card-2.jpg',
                title: 'Вдохновение Уорхолом',
                category: 'Новый Поп Арт'
              })
            .style-review__slide-col
              +style-card('style-review__style-card', {
              },{
                img: 'style-card-3.jpg',
                title: 'Вдохновение Гансом Хофманном',
                category: 'Новый абстрактный экспрессионизм'
              })


        
        