footer.footer
  .container
    .footer__top
      .footer__col.footer__col--tablet-hidden
        h3.footer__col-title Об Artgallery
        ul.footer__col-list
          li.footer__col-item
            a.footer__col-link(href="#") О проекте
          li.footer__col-item
            a.footer__col-link(href="#") Блог
          li.footer__col-item
            a.footer__col-link(href="#") Авторы

      .footer__col.footer__col--tablet-hidden
        h3.footer__col-title Покупателям
        ul.footer__col-list
          li.footer__col-item
            a.footer__col-link(href="#") Доставка
          li.footer__col-item
            a.footer__col-link(href="#") Оплата
          li.footer__col-item
            a.footer__col-link(href="#") Возврат

      .footer__col.footer__col--tablet-hidden
        h3.footer__col-title Каталог
        ul.footer__col-list
          li.footer__col-item
            a.footer__col-link(href="#") Картины
          li.footer__col-item
            a.footer__col-link(href="#") Коллажи
          li.footer__col-item
            a.footer__col-link(href="#") Иллюстрации

      .footer__col
        h3.footer__col-title Контакты
        ul.footer__col-list.footer__col-list--contacts
          li.footer__col-item.footer__col-item
            a.footer__col-link.footer__col-link(href="tel:+799912312344")
              include ../blocks/phone-icon/phone-icon
              +phone-icon('footer__phone-icon')
              span + 7 (999) 123-123-44
          li.footer__col-item
            a.footer__col-link.footer__col-link(href="mailto:info@domainname.ru")
              include ../blocks/mail-icon/mail-icon
              +mail-icon('footer__mail-icon')
              span.footer__email info@domainname.ru
          li.footer__col-item
            a.footer__col-link.footer__col-link--no-hover
              include ../blocks/location-icon/location-icon
              +location-icon('footer__location-icon')
              span.footer__adress г. Москва,<br> Преснесенская наб., 12

      .footer__col
        h3.footer__col-title Мы в социальных сетях:
        include ../blocks/social/social
        +social('footer__social')
        h3.footer__col-title Платёжные системы
        img.footer__pay-systems(src="img/pay-systems.png" data-da="footer__top, 0, 767")

  .footer__under
    .container
      .footer__under-inner
        .footer__copy
          a.footer__copy-item(href="#") Политика конфендициальности
          a.footer__copy-item(href="about.html") Условия и положения
        span.footer__company ©  Artgallery, 2018
        .footer__creator
          img.footer__creator-img(src="img/hawking-brothers.png")
          span.footer__creator-text Cайт создан 
          a.footer__creator-link(href="#" data-mobile-text="Hawking Brothers") Разработка сайта