.basket-icon {
  width: 18px;
  height: 22px;
  fill: none;
  transition: var(--transition) ease;

  &--theme-dark {
    color: transparent;
    stroke: var(--white);
  }

  &--theme-light {
    color: transparent;
    stroke: var(--black);
  }
}
