section.start
  .container
    .start__title.title-lg Не знаете с чего начать?
  include ../section-line/section-line
  +section-line
  .container
    .start__row
      include ../video-start/video-start
      +video-start('start__video')
      include ../article-card/article-card
      +article-card('start__card')