extends partials/layout.pug
block vars
  -var title='Разводящая страница'
  -var pageTheme = 'theme-dark'
block content
  div(style={margin: '50px'})
    h1.title-lg(style={margin: "100px auto"}) Страницы сайта
    ul
      li
        a.title-sm(href="main.html") Главная (пользователь авторизован)
      li
        a.title-sm(href="catalog.html") Каталог
      li
        a.title-sm(href="product.html") Страница товара