// settings

@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';

//vendor styles
@import '../../node_modules/swiper/swiper-bundle.css';
@import '../../node_modules/choices.js/public/assets/styles/choices.min.css';
@import '../../node_modules/nouislider/distribute/nouislider.min.css';
//global

* {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

body {
  position: relative;
  color: var(--white);
  font-family: var(--font-base);
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;

  @include media('<tablet') {
    padding: 0 10px;
  }
}

.overflow-limiter {
  overflow: hidden;
}

// component blocks

// layout blocks
@import '../blocks/title-lg/_title-lg';
@import '../blocks/logo/_logo';
@import '../blocks/header/_header';
@import '../blocks/nav/_nav';
@import '../blocks/account/_account';
@import '../blocks/lang/_lang';
@import '../blocks/hero/_hero';
@import '../blocks/btn/_btn';
@import '../blocks/search/_search';
@import '../blocks/start/_start';
@import '../blocks/section-line/_section-line';
@import '../blocks/video-start/_video-start';
@import '../blocks/article-card/_article-card';
@import '../blocks/new-works/_new-works';
@import '../blocks/masonry-card/_masonry-card';
@import '../blocks/heart-icon/_heart-icon';
@import '../blocks/basket-icon/_basket-icon';
@import '../blocks/logout-icon/_logout-icon';
@import '../blocks/card-sticker/_card-sticker';
@import '../blocks/style-review/_style-review';
@import '../blocks/masonry-fixed-card/_masonry-fixed-card';
@import '../blocks/style-card/_style-card';
@import '../blocks/news/_news';
@import '../blocks/news-card/_news-card';
@import '../blocks/long-arrow-icon/_long-arrow-icon';
@import '../blocks/slider-btn/_slider-btn';
@import '../blocks/footer/_footer';
@import '../blocks/location-icon/_location-icon';
@import '../blocks/phone-icon/_phone-icon';
@import '../blocks/mail-icon/_mail-icon';
@import '../blocks/social/_social';
@import '../blocks/modal/_modal';
@import '../blocks/sort/_sort';
@import '../blocks/user-icon/_user-icon';
@import '../blocks/burger/_burger';
@import '../blocks/page-index/_page-index';
@import '../blocks/dropdown-icon/_dropdown-icon';
@import '../blocks/search-icon/_search-icon';
@import '../blocks/grid-masonry/_grid-masonry';
@import '../blocks/catalog/_catalog';
@import '../blocks/filter/_filter';
//@import '../blocks/filter/filter-2';
@import '../blocks/filter-cards/_filter-cards';
@import '../blocks/genre-card/_genre-card';
@import '../blocks/reset-icon/_reset-icon';
@import '../blocks/settings-icon/_settings-icon';

